$spacings: (
  small: $space-small,
  base: $space-base,
  large: $space-large,
  xLarge: $space-xLarge,
  huge: $space-huge
);

@each $name, $value in $spacings {
  .u-#{$name}PushBottom {
    margin-bottom: $value;
  }

  .u-#{$name}PaddingBottom {
    padding-bottom: $value;
  }

  .u-#{$name}PushRight {
    margin-right: $value;
  }
}
