$button-border-radius: 12px;
$button-padding: 12px 36px;

.Button {
  @include font($size: 'small');

  padding: $button-padding;

  background-color: $color-gimblet;
  border: 0;
  border-radius: $button-border-radius;

  color: $color-white;

  font-family: $font-family;

  transition: all 0.2s ease-in-out 0s;

  &:hover {
    background-color: lighten($color-gimblet, 3);
    cursor: pointer;
  }
}

.Button.alternative {
  background-color: $color-white;
  color: $color-gimblet;

  &:hover {
    background-color: darken($color-white, 3);
    cursor: pointer;
  }
}

.Button.caribbeanGreen {
  background-color: $color-caribbean-green;

  &:hover {
    background-color: darken($color-caribbean-green, 3);
    cursor: pointer;
  }
}

.Button.tiffanyBlue {
  background-color: $color-tiffany-blue;

  &:hover {
    background-color: darken($color-tiffany-blue, 3);
    cursor: pointer;
  }
}

