$button-border-radius: 12px;
$button-padding: 12px 36px;

.Button {
  @include font($size: 'small');

  padding: $button-padding;

  background-color: $color-coral;
  border: 0;
  border-radius: $button-border-radius;

  color: $color-white;

  font-family: $font-family;

  transition: all 0.2s ease-in-out 0s;

  &:hover {
    background-color: lighten($color-coral, 3);
    cursor: pointer;
  }
}

.Button.alternative {
  background-color: $color-white;
  color: $color-coral;

  &:hover {
    background-color: darken($color-white, 3);
    cursor: pointer;
  }
}
.Button.blue {
  background-color: $color-dark-sky-blue;
  color: $color-white;

  &:hover {
    background-color: darken($color-dark-sky-blue, 3);
    cursor: pointer;
  }
}
