.Flex {
  display: flex;
}

.Flex.row {
  flex-direction: row;
}

.Flex.column {
  flex-direction: column;
}

.Flex.alignCenter {
  align-items: center;
}

.Flex.alignStart {
  align-items: flex-start;
}

.Flex.justifyCenter {
  justify-content: center;
}

.Flex.spaceBetween {
  justify-content: space-between;
}

.Flex.spaceAround {
  justify-content: space-around;
}
