.Nav {
  @include font($size: 'small');
  position: absolute;
  top: 0;

  z-index: 99;

  width: 100%;

  padding: $space-small $space-large;
}

.Nav-link {
  @include font($size: 'tiny');

  position: relative;
  text-decoration: none;
}

.Nav-link {
  &:after {
    content: '';

    position: absolute;
    bottom: -10px;
    left: 0;

    width: 100%;
    height: 2px;

    background-color: $color-limed-spruce;

    transform: scaleX(0);
    transform-origin: center left;

    transition: transform 0.3s ease-out;
  }
}

.Nav-link:hover,
.Nav-link.active {
  &:after {
    transform: scaleX(1);
  }
}

.Nav-logo {
  @include font($size: 'large');

  font-family: $font-family-serif;
}
