$text-line-height: 1.5;

.Text {
  @include font;

  font-family: $font-family;
  line-height: $text-line-height;
}

.Text.centered {
  text-align: center;
}

.Text.small {
  @include font($size: 'small');
}
