// scss-lint:disable all
$imported-modules: () !default;

/// Module export mixin
/// This mixin helps making sure a module is imported once and only once.
/// @access public
/// @param {String} $name - Name of exported module
/// @require $imported-modules
@mixin exports($name) {
  @if (index($imported-modules, $name) == null) {
    $imported-modules: append($imported-modules, $name) !global;
    @content;
  } @else {
  }
}

@include exports('reset') {

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  padding: 0;
  background: none;
  border: none;
}

svg {
  vertical-align: top;
  font-family: Europa, Arial, sans-serif;
  max-width: 100%;
}
}
// scss-lint:enable all
