$color-white: #fff;
$color-buttery-white: #f2e9db;
$color-limed-spruce: #36424a;
$color-manatee: #939aa3;
$color-gimblet: #c0a477;
$color-tiffany-blue: #17bebb;
$color-caribbean-green: #06d6a0;
$color-coral-reef: #ff7e6b;

$font-family: 'Futura', sans-serif;
$font-family-serif: 'Medula One', sans-serif;

$space-small: 12px;
$space-base: 24px;
$space-large: 36px;
$space-xLarge: 48px;
$space-huge: 70px;
