$color-coral: #ff8360;
$color-maximum-yellow-red: #e8c547;
$color-dark-sky-blue: #86bbd8;
$color-teal-blue: #33658a;
$color-green: #61e786;
$color-white: #fff;
$color-gunmetal: #292F36;

$font-family: 'Abel', sans-serif;
$font-family-serif: 'Medula One', serif;

$space-small: 12px;
$space-base: 24px;
$space-large: 36px;
$space-xLarge: 48px;
$space-huge: 70px;
